<% include ../partials/header %>

<div class = "container">
    <div class="row">
        <h2>Edit Program</h2>
        <div >
            <form action="/programs/<%= program._id %>?_method=PUT" method = "post">
                <!--用form-group加入spacing-->
                <div class="form-group" style = "width: 70%;" >
                    <input class = "form-control" type = "text" name = "program[title]" value = "<%= program.title %>" required>
                </div>
                <div class="form-group" style = "width: 30%;">
                    <input class="form-control" type="date" name="program[date]"  value="<%= program.date %>" required>
                </div>
                <div class = "form-group" style = "width: 30%">
                    <select class = "form-control" name = "program[category]" value="<%= program.category %>" required>
                        <option value="">Select a Category</option>
                        <option value = "Policy Advocacy">Policy Advocacy</option>
                        <option value = "Technology Exchanges">Technology Exchanges</option>
                        <option value = "US-China Dialogue">US-China Dialogue</option>
                        <option value = "Education and Capacity Building">Education and Capacity Building</option>
                        <option value = "Special Events">Special Events</option>
                        <option value = "Media Coverage">Media Coverage</option>
                    </select>
                </div>
                <!--Add Summernote Editor-->
                <div class = "form-group">
                   <textarea id="summernote" name="program[body]"><%= program.body %></textarea>
                </div>
                
                <div class="form-group text-right" id = "submit">
                    <button class = "btn btn-lg btn-primary">Submit!</button>
                </div>
            </form>
            <a href = "/programs" style="float:right">
                <button class = "btn btn-lg btn-secondary">Cancel</button>
            </a>
        </div>
    </div>
</div>

<!--Script to run summernote-->
<script>
    $(document).ready(function() {
      $('#summernote').summernote({
            placeholder: "hello!",
            tabsize: 2,
            height: 600,
            width: 900
      });
    });
</script>

    
<% include ../partials/footer %>