<% include ../partials/header %>

<div class = "container" id="article-container">
    <div class="row">
        <div col="col-md-3">
            <div class="list-group">
                <li class="list-group-item">Published on <%=  program.date.toLocaleDateString() %></li>
                <li class="list-group-item">Category: <%=  program.category %></li>
                <% if(currentUser) {%>
                    <li class="list-group-item"><a href="/programs/<%= program._id %>/edit" class="btn btn-sm btn-warning"> Edit </a></li>
                    <li class="list-group-item">
                        <form action="/programs/<%= program._id %>/?_method=DELETE" method="POST" id="del">
                            <button class="btn btn-sm btn-danger">Delete</button>
                        </form>
                    </li>
                <% } %>
            </div>
        </div>
        <div class="col-md-9" id="article-body">
            <h1 class="text-center"><%=  program.title %></h1>
            <hr>
            <%- program.body %>  
        </div>
    </div>
</div>

<% include ../partials/footer %>